<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="main.css">
	<script src="angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
</head>
<body ng-app='myApp' ng-controller='myController' ng-click="clicked()">
	<div id="viewport">
		<div id="world"></div>
		<div id="message">Reach Beyond The Sky...</div>
	</div>
	<div ng-class="appliedStyle" class="hide">
		<div class="navbar"></div>
		<div class="about">
			Full Stack Developer / Passionate Coder / Problem Solver
			<div class="parallax about-front"> 
				<div>"Any fool can write code that a computer can understand. Good programmers write code that humans can understand." - Martin Fowler
				</div>
			</div>
			<div class="parallax about-front2">
				<div>"Programs must be written for people to read, and only incidentally for machines to execute." -Abelson/Sussman
				</div>
			</div>
			<div class="parallax about-back">
				<div>
					<img class="photo" src="mainphoto.png"></img>
					<br>
					<strong>About Me</strong> <br>
					Full Stack Developer/Software Engineer looking to build amazing things. My skills range from Javascript, AngularJS, HTML5/CSS3, Ruby on Rails, NodeJS and more.
				</div>
			</div>
		</div>
		<div class="portfolio">Portfolio
			<div class="project" ng-repeat="project in projects">{{project.name}}</div>
		</div>
		<div class="contact">Contact Me</div>
	</div>
	<script src="main.js"></script>
	<script src="ang.js"></script>
</body>
</html>