body {
	margin: 0;
}
.hide {
	visibility: hidden;
	display: none;
}

.test {
	height: 200px;
	width: 200px;
	background-color: purple;
}
.navbar {
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	position: fixed;
	background-color: rgba(0,255,255,0.5);
}

.about {
	margin-top: 50px;
	height: 100vh;
	background-image: url("space.jpg");
	color: white;
	padding-top: 10px;
	font-size: 50px;
	text-align: center;
	background-attachment: fixed;
	perspective: 1px;
	-webkit-perspective: 1px;
	overflow-x: hidden;
	overflow-y: auto;
}
.photo {
	margin-top: 50px;
	border-radius: 100%;
	border: 2px solid black;
	width: 500px;
	height: 500px;
}
.parallax {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 100vh 0;
}

.about-front {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: red;
    font-size: 25px;
    float: right;
    text-align: right;
    padding-left: 45%;
    margin-top: 15%;
    background-color: rgba(0,0,0,.5);
}
.about-front2 {
	margin-top: -10%;
	-webkit-transform: translateZ(10);
    transform: translateZ(10);
    color: blue;
    font-size: 25px;
    text-align: right;
    width: 500px;
}

.about-back {
	margin-top: -50%;
	font-size: 40px;
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px);
}
.portfolio {
	height: 2000px;
	background-color: white;
	color: black;
}
.project {
	width: 100px;
	height: 100px;
	background-color: black;
	color: white;
}

.contact {
	height: 2000px;
	background-color: blue;
	color: white;
}